## Total Score: 115/140

---

---

In [1]:
# Part 1 - CSV to lists
import jupyterimporter
from csvlist import CsvList

f = CsvList('/midterm/preexisting.csv')
print(f.header)      # Returns a list of the column names
print(f.data[0:4])    # Returns the list of lists data

importing Jupyter notebook from csvlist.ipynb
['State', 'Federally/State Administered', 'Enrolled Through January 31, 2014  ', 'Enrolled Through December 31, 2013', 'Enrolled Through November 30, 2013', 'Enrolled Through October 31, 2013', 'Enrolled Through September 30, 2013', 'Enrolled Through August 31, 2013', 'Enrolled Through July 31, 2013', 'Enrolled Through June 30, 2013', 'Enrolled Through May 31, 2013', 'Enrolled Through April 30, 2013', 'Enrolled Through Mar. 31, 2013', 'Enrolled Through Feb. 28, 2013', 'Enrolled Through Jan. 31, 2013', 'Enrolled Through Dec. 31, 2012', 'Enrolled Through Nov. 30, 2012', 'Enrolled Through October 31, 2012', 'Enrolled Through September 30, 2012', 'Enrolled Through August 31, 2012', 'Enrolled Through July 31, 2012', 'Enrolled Through June 30, 2012', 'Enrolled Through May 31, 2012', 'Enrolled Through April 30, 2012', 'Enrolled Through March 31, 2012', 'Enrolled Through February 29, 2012', 'Enrolled Through December 31, 2011', 'Enrolled Through November 30, 2011', 'Enrolled Through October 31, 2011', 'Enrolled Through September 30, 2011', 'Enrolled Through August 31, 2011', 'Enrolled Through July 31, 2011', 'Enrolled Through June 30, 2011', 'Enrolled Through May 31, 2011', 'Enrolled Through April 30, 2011', 'Enrolled Through March 31, 2011', 'Enrolled Through February 1, 2011', 'Enrolled Through November 1, 2011']
[['Alabama', 'Federal', '115', '123', '594', '639', '672', '711', '736', '766', '795', '820', '821', '1006', '972', '911', '838', '794', '735', '679', '635', '590', '559', '524', '466', '429', '389', '340', '296', '275', '230', '182', '138', '118', '103', '91', '77', '61'], ['Alaska', 'State', '5', '25', '32', '34', '34', '36', '36', '38', '43', '46', '51', '52', '47', '46', '45', '47', '42', '45', '43', '43', '45', '47', '45', '42', '42', '44', '45', '48', '45', '43', '47', '38', '35', '34', '32', '20'], ['Arizona', 'Federal', '1373', '1392', '3857', '4021', '4154', '4293', '4389', '4541', '4653', '4779', '4779', '5254', '5082', '4861', '4628', '4402', '4149', '3898', '3655', '3480', '3282', '3065', '2748', '2448', '2139', '1783', '1533', '1391', '1178', '967', '759', '639', '573', '457', '374', '270'], ['Arkansas', 'Transitioned from State to Federally-administered program 7/1/2013', '126', '129', '648', '688', '716', '750', '767', '736', '871', '878', '895', '921', '883', '868', '855', '839', '798', '767', '725', '695', '648', '624', '574', '554', '484', '404', '367', '333', '310', '291', '273', '254', '278', '226', '198', '147']]

---

** 30/30 **

---

---

In [2]:
#Part 2 - "Pivoting" data
import jupyterimporter
from pivot import pivot_columns

test = [['Last','First','2015Q1','2015Q2','2015Q3','2015Q4'],
        ['Boal','Paul',10,9,10,8],
        ['Westhus','Eric',9,10,10,9]]

out = pivot_columns(test,list(range(2,6)))
out

importing Jupyter notebook from pivot.ipynb

[['Last', 'First', 'Column', 'Value'],
 ['Boal', 'Paul', '2015Q1', 10],
 ['Boal', 'Paul', '2015Q2', 9],
 ['Boal', 'Paul', '2015Q3', 10],
 ['Boal', 'Paul', '2015Q4', 8],
 ['Westhus', 'Eric', '2015Q1', 9],
 ['Westhus', 'Eric', '2015Q2', 10],
 ['Westhus', 'Eric', '2015Q3', 10],
 ['Westhus', 'Eric', '2015Q4', 9]]

---

** 30/30 **

---

---

In [3]:
#Part 3 - "Joining" data together
import jupyterimporter
from joiner import join_lists

list1 = [['Last','First','Time','Value'],
         ['Boal','Paul','2015Q1',10],
         ['Boal','Paul','2015Q2',9]]

list2 = [['Time','Census'],
         ['2015q1',932],
         ['2015q2',943]]

join_lists(list1, list2, [2], [0], [0,1,2,3], [1])

importing Jupyter notebook from joiner.ipynb

[['Last', 'First', 'Time', 'Value', 'Census'],
 ['Boal', 'Paul', '2015Q1', 10, 932],
 ['Boal', 'Paul', '2015Q2', 9, 943]]

---

** 30/30 **

---

---

In [9]:
#Part 4 - Explaination of Part 4

      #This creates pivot based on date. preexisting.header gets the header row, preexisting.data gets all the data rows, '+' appends the latter list to the former.
    #this combined list is input to the pivot_columns function. list(range(2,37)) generates a list [2,3,..,36] which also goes as input to pivot_columns. 
    #This list has information split by date in different columns(2 to 36), after the function is applied it each date data goes into a new row.   
    #pre = pivot_columns([preexisting.header] + preexisting.data, list(range(2,37)))
    #  pre_clean = [pre[0] + ['Year']] + [(r + [r[2].split(',')[1].strip()]) for r in pre[1:2]]
    #Similarly for census
     #cen = pivot_columns([census.header] + census.data, list(range(5,12)))
    #This appends the header row with a new column 'Year', and extracts the year info from another column of respective data row and appends to it.
    #For example for a row having data 'Enrolled Through November 30, 2013' it extracts '2013' and appends it to that particular row
    #pre_clean = [pre[0] + ['Year']] + [(r + [r[2].split(',')[1].strip()]) for r in pre[1:]]

  #Similarly for census data
    #cen_clean = [cen[0] + ['Year']] + [(r + [r[5][-4:]]) for r in cen[1:]]
    ### CLEANUP CODE ENDS

  #  ([pre[0] + ['Year']]) # adding year column
  #  pre[0] = ['State', 'Federally/State Administered', 'Column', 'Value'] 
  #  +
  #  [Year]
  #  =
  #  ['State', 'Federally/State Administered', 'Column', 'Value', 'Year']

   # (r)
  #  ['State', 'Federally/State Administered', 'Enrolled Through January 31, 2014  ', 'Enrolled Through January 31, 2014  ']

  #  (r[2].split(',')[1]) 
  #  (r[2])
  #  'Enrolled Through January 31, 2014' 
  #  (r[2].split(','))
  #  ['Enrolled Through January 31', ' 2014']
  #  (r[2].split(',')[1])
  #  ' 2014'
  #  (r[2].split(',')[1].strip())
  #  '2014'

  #  ([(r + [r[2].split(',')[1].strip()]) # adding year value
  #  [['State', 'Federally/State Administered', 'Column', 'Value', 'Year'], 


# This process add new column 'Year' and does string manuplation to extract the year value and add at the end of the column.  In addition, it iterate every row to do the same process
  #  [pre[0] + ['Year']] + [(r + [r[2].split(',')[1].strip()]) for r in pre[1:2]]

In [4]:
import jupyterimporter
from csvlist import CsvList
from pivot import pivot_columns
from joiner import join_lists

preexisting = CsvList('/midterm/preexisting.csv')
census = CsvList('/midterm/census.csv')

pre = pivot_columns([preexisting.header] + preexisting.data, list(range(2,37)))
cen = pivot_columns([census.header] + census.data, list(range(5,12)))

# DO SOME PROCESSING TO CLEANUP DATA AS NEEDED

pre_clean = [pre[0] + ['Year']] + [(r + [r[2].split(',')[1].strip()]) for r in pre[1:]]
cen_clean = [cen[0] + ['Year']] + [(r + [r[5][-4:]]) for r in cen[1:]]

out = join_lists(pre_clean, cen_clean, [0,4], [4,7], [0,2,3], [6])

IndexError: list index out of range

---

** 25/50 **

You did a good job digging through teh code and understanding what was going on.  However, the code wouldn't run, indicating that you had some issues in your other modules that couldn't handle the new input.  I believe that your issues are atleast:

pivot_columns - Your code always assumes that you want to keep columns 0 and 1 copied down rather than "all the columns before the first pivot column".



---

---