## Total Score: 135/140

---

---

---

I moved your test code for 1,2,3 here so that I could test it more cleanly.

---

In [1]:
import jupyterimporter
from csvlist import CsvList

f = CsvList('/midterm/preexisting.csv')
print(f.header)      # Returns a list of the column names
print(f.data[0:4])    # Returns the list of lists data

importing Jupyter notebook from csvlist.ipynb
['State', 'Federally/State Administered', 'Enrolled Through January 31, 2014  ', 'Enrolled Through December 31, 2013', 'Enrolled Through November 30, 2013', 'Enrolled Through October 31, 2013', 'Enrolled Through September 30, 2013', 'Enrolled Through August 31, 2013', 'Enrolled Through July 31, 2013', 'Enrolled Through June 30, 2013', 'Enrolled Through May 31, 2013', 'Enrolled Through April 30, 2013', 'Enrolled Through Mar. 31, 2013', 'Enrolled Through Feb. 28, 2013', 'Enrolled Through Jan. 31, 2013', 'Enrolled Through Dec. 31, 2012', 'Enrolled Through Nov. 30, 2012', 'Enrolled Through October 31, 2012', 'Enrolled Through September 30, 2012', 'Enrolled Through August 31, 2012', 'Enrolled Through July 31, 2012', 'Enrolled Through June 30, 2012', 'Enrolled Through May 31, 2012', 'Enrolled Through April 30, 2012', 'Enrolled Through March 31, 2012', 'Enrolled Through February 29, 2012', 'Enrolled Through December 31, 2011', 'Enrolled Through November 30, 2011', 'Enrolled Through October 31, 2011', 'Enrolled Through September 30, 2011', 'Enrolled Through August 31, 2011', 'Enrolled Through July 31, 2011', 'Enrolled Through June 30, 2011', 'Enrolled Through May 31, 2011', 'Enrolled Through April 30, 2011', 'Enrolled Through March 31, 2011', 'Enrolled Through February 1, 2011', 'Enrolled Through November 1, 2011']
[['Alabama', 'Federal', '115', '123', '594', '639', '672', '711', '736', '766', '795', '820', '821', '1006', '972', '911', '838', '794', '735', '679', '635', '590', '559', '524', '466', '429', '389', '340', '296', '275', '230', '182', '138', '118', '103', '91', '77', '61'], ['Alaska', 'State', '5', '25', '32', '34', '34', '36', '36', '38', '43', '46', '51', '52', '47', '46', '45', '47', '42', '45', '43', '43', '45', '47', '45', '42', '42', '44', '45', '48', '45', '43', '47', '38', '35', '34', '32', '20'], ['Arizona', 'Federal', '1373', '1392', '3857', '4021', '4154', '4293', '4389', '4541', '4653', '4779', '4779', '5254', '5082', '4861', '4628', '4402', '4149', '3898', '3655', '3480', '3282', '3065', '2748', '2448', '2139', '1783', '1533', '1391', '1178', '967', '759', '639', '573', '457', '374', '270'], ['Arkansas', 'Transitioned from State to Federally-administered program 7/1/2013', '126', '129', '648', '688', '716', '750', '767', '736', '871', '878', '895', '921', '883', '868', '855', '839', '798', '767', '725', '695', '648', '624', '574', '554', '484', '404', '367', '333', '310', '291', '273', '254', '278', '226', '198', '147']]

---

** 30/30 **

---

---

In [2]:
from pivot import pivot_columns
test = [['Last','First','2015Q1','2015Q2','2015Q3','2015Q4'],
        ['Boal','Paul',10,9,10,8],
        ['Westhus','Eric',9,10,10,9]]

out = pivot_columns(test,list(range(2,6)))
out

importing Jupyter notebook from pivot.ipynb

[['Last', 'First', 'Column', 'Value'],
 ['Boal', 'Paul', '2015Q1', 10],
 ['Boal', 'Paul', '2015Q2', 9],
 ['Boal', 'Paul', '2015Q3', 10],
 ['Boal', 'Paul', '2015Q4', 8],
 ['Westhus', 'Eric', '2015Q1', 9],
 ['Westhus', 'Eric', '2015Q2', 10],
 ['Westhus', 'Eric', '2015Q3', 10],
 ['Westhus', 'Eric', '2015Q4', 9]]

---

** 30/30 **

---

---

In [3]:
from joiner import join_lists
list1 = [['Last','First','Time','Value'],
         ['Boal','Paul','2015Q1',10],
         ['Boal','Paul','2015Q2',9],
         ['Westhus','Eric','2015Q2',7]]

list2 = [['Last','Time','Census'],
         ['Boal','2015q1',932],
         ['Westhus','2015q2',943]]

join_lists(list1, list2, [0,2], [0,1], [0,1,2,3], [2])

#[['Last', 'First', 'Time', 'Value', 'Census'],
#['Boal', 'Paul', '2015Q1', 10, 932],
#['Westhus', 'Eric', '2015Q2', 7, 943]]

importing Jupyter notebook from joiner.ipynb

[['Last', 'First', 'Time', 'Value', 'Census'],
 ['Boal', 'Paul', '2015Q1', 10, 932],
 ['Westhus', 'Eric', '2015Q2', 7, 943]]

---

** 30/30 **

---

---

In [4]:
import jupyterimporter
from csvlist import CsvList
from pivot import pivot_columns
from joiner import join_lists

#defining a variable called 'preesisting' to call CsvList from the csv file we are using
preexisting = CsvList('/midterm/preexisting.csv')

#defining a variable called 'census' to call CsvList from the csv file we are using
census = CsvList('/midterm/census.csv')

### CLEANUP CODE STARTS
# defining variables called 'pre' and 'cen'.  With pivot table functions python takes horizontal data and makes it veritcal. 
# in pre = it is looking at the preexisting header first then looking at the data list on columns from 2 up to 37
# in cen = it's doing the same but starting with the census header and then the data on columns from 5 up to 12
pre = pivot_columns([preexisting.header] + preexisting.data, list(range(2,37)))
cen = pivot_columns([census.header] + census.data, list(range(5,12)))

#Here we are adding the 'Year' to the header and for all the other rows we are 'splitting' the second element with a 
#comma and 'striping' off the begninning and ending spaces on the first element. 
pre_clean = [pre[0] + ['Year']] + [(r + [r[2].split(',')[1].strip()]) for r in pre[1:]]

#Here again we add "Year" to the header and for all other rows we subtract the fourth element to the end from row 5.
cen_clean = [cen[0] + ['Year']] + [(r + [r[5][-4:]]) for r in cen[1:]]
### CLEANUP CODE ENDS

# this function is joining the tables on the specified keys using the 2 new functions created 
out = join_lists(pre_clean, cen_clean, [0,4], [4,7], [0,2,3], [6])

# only looking at the data starting with position 0 up to position 10 
out[0:10]

[['Alabama', 'Enrolled Through January 31, 2014  ', '115', '4846411'],
 ['Alabama', 'Enrolled Through December 31, 2013', '123', '4830533'],
 ['Alabama', 'Enrolled Through November 30, 2013', '594', '4830533'],
 ['Alabama', 'Enrolled Through October 31, 2013', '639', '4830533'],
 ['Alabama', 'Enrolled Through September 30, 2013', '672', '4830533'],
 ['Alabama', 'Enrolled Through August 31, 2013', '711', '4830533'],
 ['Alabama', 'Enrolled Through July 31, 2013', '736', '4830533'],
 ['Alabama', 'Enrolled Through June 30, 2013', '766', '4830533'],
 ['Alabama', 'Enrolled Through May 31, 2013', '795', '4830533'],
 ['Alabama', 'Enrolled Through April 30, 2013', '820', '4830533']]

---

** 45/50 **

Your code works perfectly and you've done a good job explaining the code.  The only mistake you made was in how the census data is being cleaned up.  `r[5][-4:]` takes the last four characters of the string in `r[5]`.  That is, we're stripping the four-digit year off the end of that particular cell value.

---

---

In [2]:
%%bash
git add csvlist.ipynb
git add joiner.ipynb
git add pivot.ipynb
git add midterm.ipynb
git commit -a -m "CWest Submitting my midterm!!"
git push

[master 4ec2583] CWest Submitting my midterm!!
 1 file changed, 52 insertions(+), 6 deletions(-)

To git@github.com:cwest13/-hds5210-week02-.git
   dc50214..4ec2583  master -> master