In [38]:
def pivot_columns(l,Range):
    """ (list, list) -> list
    This function takes in a rectangular list of lists (a 2-d array) and a list of column numbers.
    The function assumes the first row in the list is a header row.
    The function will simply copy down all the data infront of the first pivot column.
    The function will create multiple rows for each of the input rows in the list, 
      one for each of the pivot columns.  In each of those rows will be the all of the columns
      before the first pivot column, followed by the header name for that pivot column,
      followed by the value in that pivot column.
    The output should also have a header row that contains the same header as the input
      for everything before the pivot columns, followed by 'Column' and 'Value'
    
    Input:
    [['Last','First','2015Q1','2015Q2','2015Q3','2015Q4'],
     ['Boal','Paul',10,9,10,8],
     ['Westhus','Eric',9,10,10,9]]
     
    Function Call:
    output = pivot_columns(input, list(range(2,5)))
     
    Output:
    [['Last','First','Column','Value'],
     ['Boal','Paul','2015Q1',10],
     ['Boal','Paul','2015Q2',9],
     ['Boal','Paul','2015Q3',10],
     ['Boal','Paul','2015Q4',8],
     ['Westhus','Eric','2015Q1',9],
     ['Westhus','Eric','2015Q2',10],
     ['Westhus','Eric','2015Q3',10],
     ['Westhus','Eric','2015Q4',9]]
    """
    
    '''
    import csv
    with open(l) as filename: 
        filename = csv.reader(filename)
        '''
    Range=Range
    List=[]
    filename=test
    ##########################################################
    for row in filename:
        List.append(row)
    ###########################################################
    header=List[0]
    data=List[1:]
    head=[header[0],header[1],"Column", "Value"]
    one=head,test
    n=range((len(test))+1)    #adding 1 since I inserted a new  row to list=one
    s=one[1][1:]
    s=range(len(s)+1)
    s=list(range(1,len(s)))



    '''Essentially, this is what I want to do....
    do the same num of times as len(test[0]-2)#substrating the first and last name
    set=[test[1][0],test[1][1],test[0][2],test[1][2]] #iter 1
    set=[test[1][0],test[1][1],test[0][3],test[1][3]] #iter 2, outputs being appended to iter 1
    set=[test[1][0],test[1][1],test[0][4],test[1][4]] #iter 3, outputs being appended to iter 2
    set=[test[1][0],test[1][1],test[0][n],test[1][n]] #iter 3, outputs being appended to iter n-1
    when complete w/ previous
    set=[test[2][0],test[2][1],test[0][2],test[2][2]] #iter 1..same as previous
    when complete
    set=[test[i][0],test[i][1],header[n],test[i][n]] #iter 1..same as previous
    '''

    newlist=[]
    newlist.append(one[0]) 
    for row in n:
        for k in s:
            for i in Range:
                if one[1][0][i]:
                    set1=[one[1][k][0],one[1][k][1],one[1][0][i],one[1][k][i]]
                    newlist.append(set1)
        break          
    output=newlist
    return output

In [36]:
header=['State', 'Federally/State Administered', 'Enrolled Through January 31, 2014  ', 'Enrolled Through December 31, 2013', 'Enrolled Through November 30, 2013', 'Enrolled Through October 31, 2013', 'Enrolled Through September 30, 2013', 'Enrolled Through August 31, 2013', 'Enrolled Through July 31, 2013', 'Enrolled Through June 30, 2013', 'Enrolled Through May 31, 2013', 'Enrolled Through April 30, 2013', 'Enrolled Through Mar. 31, 2013', 'Enrolled Through Feb. 28, 2013', 'Enrolled Through Jan. 31, 2013', 'Enrolled Through Dec. 31, 2012', 'Enrolled Through Nov. 30, 2012', 'Enrolled Through October 31, 2012', 'Enrolled Through September 30, 2012', 'Enrolled Through August 31, 2012', 'Enrolled Through July 31, 2012', 'Enrolled Through June 30, 2012', 'Enrolled Through May 31, 2012', 'Enrolled Through April 30, 2012', 'Enrolled Through March 31, 2012', 'Enrolled Through February 29, 2012', 'Enrolled Through December 31, 2011', 'Enrolled Through November 30, 2011', 'Enrolled Through October 31, 2011', 'Enrolled Through September 30, 2011', 'Enrolled Through August 31, 2011', 'Enrolled Through July 31, 2011', 'Enrolled Through June 30, 2011', 'Enrolled Through May 31, 2011', 'Enrolled Through April 30, 2011', 'Enrolled Through March 31, 2011', 'Enrolled Through February 1, 2011', 'Enrolled Through November 1, 2011']
data=[['Alabama', 'Federal', '115', '123', '594', '639', '672', '711', '736', '766', '795', '820', '821', '1006', '972', '911', '838', '794', '735', '679', '635', '590', '559', '524', '466', '429', '389', '340', '296', '275', '230', '182', '138', '118', '103', '91', '77', '61'], ['Alaska', 'State', '5', '25', '32', '34', '34', '36', '36', '38', '43', '46', '51', '52', '47', '46', '45', '47', '42', '45', '43', '43', '45', '47', '45', '42', '42', '44', '45', '48', '45', '43', '47', '38', '35', '34', '32', '20'], ['Arizona', 'Federal', '1373', '1392', '3857', '4021', '4154', '4293', '4389', '4541', '4653', '4779', '4779', '5254', '5082', '4861', '4628', '4402', '4149', '3898', '3655', '3480', '3282', '3065', '2748', '2448', '2139', '1783', '1533', '1391', '1178', '967', '759', '639', '573', '457', '374', '270'], ['Arkansas', 'Transitioned from State to Federally-administered program 7/1/2013', '126', '129', '648', '688', '716', '750', '767', '736', '871', '878', '895', '921', '883', '868', '855', '839', '798', '767', '725', '695', '648', '624', '574', '554', '484', '404', '367', '333', '310', '291', '273', '254', '278', '226', '198', '147']]

In [37]:
pre = pivot_columns(header + data, list(range(2,37)))

IndexError: list index out of range

In [30]:
test= [['Last','First','2015Q1','2015Q2','2015Q3','2015Q4'],
        ['Boal','Paul',10,9,10,8],
        ['Westhus','Eric',9,10,10,9]]

filename=test
List=[]
Range=list(range(2,6))
##########################################################
for row in filename:
    List.append(row)
###########################################################
header=List[0]
data=List[1:]
head=[header[0],header[1],"Column", "Value"]
one=head,test
n=range((len(test))+1)    #adding 1 since I inserted a new  row to list=one
s=one[1][1:]
s=range(len(s)+1)
s=list(range(1,len(s)))
newlist=[]
newlist.append(one[0]) 
for row in n:
    for k in s:
        for i in Range:
            if one[1][0][i]:
                set1=[one[1][k][0],one[1][k][1],one[1][0][i],one[1][k][i]]
                newlist.append(set1)
    break          
output=newlist

In [31]:
list1 = [['Last','First','Time','Value'],
 ['Boal','Paul','2015Q1',10],
 ['Boal','Paul','2015Q2',9],
 ['Westhus','Eric','2015Q2',7]]

 list2 = [['Last','Time','Census'],
 ['Boal','2015q1',932],
 ['Westhus','2015q2',943]]

 join_lists(list1, list2, [0,2], [0,1], [0,1,2,3], [2])

[['Last', 'First', 'Column', 'Value'],
 ['Boal', 'Paul', '2015Q1', 10],
 ['Boal', 'Paul', '2015Q2', 9],
 ['Boal', 'Paul', '2015Q3', 10],
 ['Boal', 'Paul', '2015Q4', 8],
 ['Westhus', 'Eric', '2015Q1', 9],
 ['Westhus', 'Eric', '2015Q2', 10],
 ['Westhus', 'Eric', '2015Q3', 10],
 ['Westhus', 'Eric', '2015Q4', 9]]

In [ ]:
List=[]
filename=test

for row in filename:
    List.append(row)

header=List[0]
data=List[1:]
head=[header[0],header[1],"Column", "Value"]
one=head,test

In [ ]:
'''Essentially, this is what I want to do....
do the same num of times as len(test[0]-2)#substrating the first and last name
set=[test[1][0],test[1][1],test[0][2],test[1][2]] #iter 1
set=[test[1][0],test[1][1],test[0][3],test[1][3]] #iter 2, outputs being appended to iter 1
set=[test[1][0],test[1][1],test[0][4],test[1][4]] #iter 3, outputs being appended to iter 2
set=[test[1][0],test[1][1],test[0][n],test[1][n]] #iter 3, outputs being appended to iter n-1
when complete w/ previous
set=[test[2][0],test[2][1],test[0][2],test[2][2]] #iter 1..same as previous
when complete
set=[test[i][0],test[i][1],header[n],test[i][n]] #iter 1..same as previous
'''
set=[]
# i is the number of participants in the dataset..in this case, only 2..hence this processes 
#is iterated twice, for the two people in the dataframe
set.append(one[0])  #this is the header
print(set)
for i in range(1,len(data)+1):
    # n is the number of "time pts" that belong to each person, in this case, 4. This step 
    #will be iterated 4x for each time pts, and twice, once for each person
    for  n in range(2,(len(header))):
        set1=[one[1][i][0],one[1][i][1],one[1][0][n],one[1][i][n]]
        set.append(set1)
#Now, we need to add the correct data to the dataframe, i.e. insert a list into a list
#I create variable, "head" above utilizing syntax from question 1
newlist=set

In [ ]:
newlist

In [ ]:
one[1][1][0],one[1][1][1],one[1][0][2],one[1][1][2]

In [ ]:
one[1][1][0],one[1][1][1],one[1][0][2],one[1][1][2]

In [ ]:
Range=list(range(0,5))

In [ ]:
Range[len(Range)-1]

In [ ]:
what=[]
for i in range(0,3):
    what.append(i)

In [ ]:
what[0]

In [ ]:
out = pivot_columns(test,list(range(2,5)))
out